<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settingSection" type="ConsoleConfigurationExample.SettingConfiguration, ConsoleConfigurationExample" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <settingSection configSource="configs\Example.config" />
</configuration>