<settingSection>
  <OneProduct   SynchStatus="stable" />
  <SecondProduct  Qty="1"  SynchStatus="damaged" />
  <groups>
    <add name="134" code="wowTalkShow" />
    <add name="136" code="CodeTest" />
    <add name="143" code="14311" />
    <add name="272" code="27211" />
    <add name="502" code="50211" />
    <add name="655" code="65511" />
    </groups>
</settingSection>
